@media screen and (min-width:960px) {


  * {
    box-sizing: border-box;
  }

  body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: #222222;

  }

  a:visited {
    color: #222222;
    text-decoration: none;
  }

  /* 全体を真ん中に配置 */
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 0px gray;
  }

  .header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    text-align: center;
    font-size: 16px;
    color: #3B3B3B;
    font-family: gill-sans-nova;
    font-weight: 600;
    font-style: normal;
    line-height: 16px;
    padding-left: 20%;
  }

  .global-nav {
    background-color: ;
    flex: 0 0 40%;

  }

  .global-nav__items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  .global-nav__item {
    flex: 0 0 30%;
    font-family: noto-sans;
    font-style: normal;
    color: #272727;
    margin: 10px;
    opacity: 0.6;
  }

  .global-nav__item_selected {
    flex: 0 0 30%;
    font-family: noto-sans;
    font-style: normal;
    color: #272727;
    margin: 10px;
    opacity: 1;
  }

  .global-nav__item_selected:after {
    content: "";
    display: block;
    height: 2px;
    width: 45px;
    background-color: black;
    position: absolute;
    top: 60px;
  }

  .menu {
    display: none;
  }


  .banner {
    background-image: url("../img/AdobeStock_199226712.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
  }

  .banner-text {
    color: #918F89;
    position: absolute;
    font-family: noto-sans;
    font-size: 60px;
    padding: 0 10% 0 10%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .main-image {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .article1 {
    background-image: url("../img/AdobeStock_189860956.png");
    background-repeat: no-repeat;
    background-size: 50%;
    height: 400px;
    margin: 20% 10%;
    position: relative;
  }

  .article1-title {
    position: absolute;
    top: 0;
    left: 50%;
    padding-left: 10%;
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2.5px;
    color: #3B3B3B;
  }

  .article1-paragraph {
    position: absolute;
    top: 20%;
    left: 50%;
    padding-left: 10%;
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.36px;
    color: #3B3B3B;
    line-height: 2.5em;
  }

  .article2 {
    margin-top: 210px;
  }

  .article2-title {
    text-align: center;
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3B3B3B;
    font-size: 25px;
    letter-spacing: 2.5px;
    margin-bottom: 40px;
  }

  .article2-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
  }

  .article3 {
    margin-top: 246px;
  }

  .article3-title {
    font-family: noto-sans;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: #3B3B3B;
    font-size: 25px;
    letter-spacing: 2.5px;
    margin-bottom: 40px;
  }

  .article3-images {
    display: flex;
    justify-content: space-around;
  }

  .article3-image {
    position: relative;
  }

  .article3-image::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s ease;
  }

  .article3-image:hover::before {
    height: 100%;
  }


  .article3-image:hover p {
    color: white;
    top: 50%;

  }

  .article3-image p {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: transparent;
    transition: .3s ease;
  }


  .article3-paragraph {
    margin-top: 20px;
    display: block;
    text-align: center;
    font-family: noto-sans;
    font-weight: 400;
    font-style: normal;
    color: #3B3B3B;
    font-size: 15px;
    letter-spacing: 1.05px;
    position: relative;
  }

  .article3-paragraph:hover::after {
    content: '';
    position: absolute;
    bottom: -15px;
    /*線の上下位置*/
    display: inline-block;
    width: 70px;
    /*線の長さ*/
    height: 2px;
    /*線の太さ*/
    background-color: #918F89;
    border-radius: 2px;
    left: 50%;
    top: 80%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
  }

  .article4 {
    margin-top: 210px;
    margin-bottom: 200px;

  }

  .article4-title {
    font-family: noto-sans;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: 3B3B3B;
    font-size: 25px;
    letter-spacing: 2.5px;
    margin-bottom: 40px;

  }

  .form {}

  .name,
  .mail {
    display: block;
    width: 463px;
    height: 35px;
    padding: 8px;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .form-item__textarea {
    display: block;
    width: 463px;
    height: 156px;
    padding: 8px;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .form-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 111px;
    margin-top: 30px;
    background: #707070 0% 0% no-repeat padding-box;
    border-radius: 20px;
    height: 35px;
    font-size: 16px;
    color: #FFF;
  }

  .form-submit:hover {
    opacity: 0.6;
  }

  footer {
    background-color: #918F89;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    flex-wrap: wrap;
  }


  .footer_logo {
    flex: 0 0 50%;
    text-align: center;
    font-size: 22px;
    color: #FFFFFF;
    font-family: gill-sans-nova;
    font-weight: 600;
    font-style: normal;
    line-height: 21px;
  }

  .footer_items {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  .footer_item a {
    color: #fff;
  }

  .footer_item {
    flex: 0 0 33%;
    color: #FFF;
    font-family: noto-sans;
    font-weight: 200;
    font-size: 18px;
    font-style: normal;
  }

  .footer-copyright {
    flex: 0 0 100%;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: #fff;
    font-family: noto-sans;
  }


  /* NEWS */

  .news-bg {
    background-image: url("../img/AdobeStock_295587079.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
  }

  .news-bg-text {
    font-family: noto-sans;
    font-size: 30px;
    color: #918F89;
    font-family: noto-sans;
    padding: 20%;
  }

  .news-article1 {
    margin-bottom: 200px;
  }

  .news-article1-title {
    text-align: center;
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3B3B3B;
    font-size: 25px;
    letter-spacing: 2.5px;
    margin: 70px 0;
  }

  .news-images {
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;
    position: relative;
  }

  .news-image1 .news-image2 .news-image2 {
    flex: auto;
  }


  /* QA */

  .qa-bg {
    background-image: url("../img/AdobeStock_255730246.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
  }

  .qa-bg-text {
    color: #FFFFFF;
    font-family: noto-sans;
    font-size: 30px;
    padding: 20%;
  }


  .qa-article1 {
    margin-bottom: 200px;
  }

  .qa-article1-title {
    text-align: center;
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3B3B3B;
    font-size: 25px;
    letter-spacing: 2.5px;
    margin: 70px 0;
  }

  .qa-items {}

  .qa-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20%;
  }

  .question {
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    font-size: 16px;
    color: #3b3b3b;
    flex: 0 0 80%
  }

  .question i {
    flex: 0 0 20%;
    cursor: pointer;
  }

  .qa-close {
    display: none;

  }

  .qa-open {
    flex: 0 0 100%;
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
    flex: 0 0 80%;
    text-align: left;
    display: inline-block;
  }


}