/* スマホ用ブレイクポイント */
@media (max-width:600px) {

  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

a:link {
  color: none;
  background:;
}
a:visited {
  color: white;
}

.body {
}



/* ハンバーガー */
.header {
display: flex;
position: relative;
z-index: 2;
}

.header_logo {
  flex: 0 0 100%;
  text-align:center;
  font-size:16px;
  width: 100%;
  position: fixed;
  padding-top: 10px; 
  color: white;
  background: #918F89;
  height: 55px;
}

.menuWrapper {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  width: 50px;
  height: 50px;
}

.menu {
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu span,
.menu::before,
.menu::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 36px;
  height: 1px;
  margin: auto;
  background: #fff;
}
.menu span {
  overflow: hidden;
  z-index: 1;
  color: #fff;
}
.menu::before {
  z-index: 2;
  transform: translate(0, -12px);
  content: "";
}
.menu::after {
  z-index: 2;
  transform: translate(0, 12px);
  content: "";
}

.close {
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -6px;
  cursor: pointer;
}
.close span {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close::before{
  top: 18px;

  left: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close::after {
  display: none;
  top: 1px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}



.global-nav {
  display: flex;
  flex: 0 0 100%;
  position: fixed;
  top: 218px;
  width: 100%;
  opacity: 1;
  z-index: 0;
  display: none;
}

.open {
  display: flex;
  flex: 0 0 100%;
  position: fixed;
  top: 218px;
  width: 100%;
  opacity: 1;
  z-index: 0;
  display: block;
}

.global-nav__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
}

.global-nav__item {
  flex: 0 0 100%;
  line-height: 80px;
  font-size: 20px;
  color: #fff;
  border-bottom: solid 1px #fff;
  background-color: #918F89;
  text-align: center; 
  margin: 0;
  opacity: 0.9;
  }

  .global-nav__items ul li:last-child {
    border-bottom: solid 10px #fff;
  }

  .global-nav__item:hover {
    opacity: 1;
  }
  .global-nav__item:hover::after {
    content: "";
    display: none;
  }

/* ハンバーガー終わり */


.container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: none;
  box-shadow: none;
}



.fotter {
  display: flex;
}

.fotter_logo {
  flex: auto;

}

.fotter_items {
  display: none;
}

.banner {
  background-image: url("../img/sp-index.png");
  padding: 500px 0;
  background-repeat: no-repeat;
}

.banner p {
  color:#918F89;
  display: inline-block;
  font-family: noto-sans; 
  font-size: 50px;
  padding: 0 0 0 60px;
  background-color: rgba(255,255,255, 0.7);
  max-width: 50%;
  line-height: 2.2em;
  border-bottom:solid;
　border-color:#FF0000;
　border-width: 100px;
} 

.article1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
}

.article1-left {
  flex: 0 0 100%;
  width: 100%;
  padding-left: 0px;

}

.article1-image {
  width: 80%;
}
.article1-right {
  flex: 0 0 100%;
  width: 100%;
}

.article1-title {
  text-align: center;
  display: block;
  width: auto;
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3B3B3B;
  font-size: 20px;
  letter-spacing: 2.5px;
  margin-bottom: 40px;
}


.article2 {
  width: auto;
}
.article2-title {
  text-align: center;
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3B3B3B;
  font-size: 16px;
  letter-spacing: 2.5px;
  margin-bottom: 40px;
}

.article2-image {
  object-position: 100% 1%
}

.article3-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.article3 {
  position: relative;
  z-index: 0;
}

.article3-image {
  filter: brightness(60%);
}

.article3-image1 {
  text-align: center;
  flex: 0 0 80%;
  margin: 20px auto;
  position: relative;
  z-index: 0;

}

.article3-image1 p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  }


.article3-image2 {
  flex: 0 0 80%;
  margin: 20px auto;
  position: relative;
}

.article3-image2 p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  }

.article3-image3 {
  flex: 0 0 80%;
  margin: 20px auto;
  position: relative;
}

.article3-image3 p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  }


  /* news */
.news-bg {
  background-image: url("../img/sp-news.png");
  padding: 300px 0;
  background-repeat: no-repeat;
}

.news-bg p {
  color:#3b3b3b;
  font-family: noto-sans; 
  font-weight: 100;
  font-size: 40px;
}

.news-article1 {
}

.news-article1-title {
  display: none;

}

.news-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.news-image {
  filter: brightness(60%);
}

.news-image1 {
  flex: 0 0 80%;
  margin: 20px auto;
  position: relative;
}

.news-image1 p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  }

.news-image2 {
  flex: 0 0 80%;
  margin: 20px auto;
  position: relative;
}

.news-image2 p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  }

.news-image3 {
  flex: 0 0 80%;
  margin: 20px auto;
  position: relative;
}

.news-image3 p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  }

/* qa */
.qa-bg {
  background-image: url("../img/sp-qa.png");
  padding: 300px 0;
  background-repeat: no-repeat;
}

.qa-bg p {
  text-align: center;
  display: inline-block;
  width: auto;
  color: white;
  font-family: noto-sans;
  font-weight: 100;
  font-size: 40px;
}

.qa-article1 {
  margin-bottom: 200px;
}

.qa-article1-title{
  text-align: center;
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3B3B3B;
  font-size: 25px;
  letter-spacing: 2.5px;
  margin: 70px 0;
}
.qa-items{
  list-style: none;

}

.qa-item {
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-size: 16px;
  color: #3b3b3b;
  margin: 100px 0;
  position: relative;
  margin: 20px auto;
}

.qa-item:after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  position: absolute;
  top: 50%;
  right: 10%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  opacity: 0.4;
}


}
/* ブレイクポイント終わり */