/* スマホ用ブレイクポイント */
@media screen and (max-width:959px) {

  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

a:link {
  color: white;
  background:;
}
a:visited {
  color: white;
}


a {
  text-decoration: none;
}
.body {
}

/* ハンバーガー */
.header {
display: flex;
position: relative;
z-index: 2;
}

.header_logo {
  flex: 0 0 100%;
  text-align:center;
  font-size:16px;
  width: 100%;
  position: fixed;
  padding-top: 10px; 
  color: white;
  background: #918F89;
  height: 55px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
}
.menuWrapper {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  width: 50px;
  height: 50px;
}

.menu {
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu span,
.menu::before,
.menu::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 36px;
  height: 1px;
  margin: auto;
  background: #fff;
}
.menu span {
  overflow: hidden;
  z-index: 1;
  color: #fff;
}
.menu::before {
  z-index: 2;
  transform: translate(0, -12px);
  content: "";
}
.menu::after {
  z-index: 2;
  transform: translate(0, 12px);
  content: "";
}

.close {
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -6px;
  cursor: pointer;
}
.close span {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close::before{
  top: 18px;

  left: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close::after {
  display: none;
  top: 1px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.global-nav {
  display: flex;
  flex: 0 0 100%;
  position: fixed;
  top: 218px;
  width: 100%;
  opacity: 1;
  z-index: 0;
  display: none;
  transition: .3s ease;
}

.open {
  display: flex;
  flex: 0 0 100%;
  position: fixed;
  top: 54px;
  width: 100%;
  opacity: 1;
  z-index: 0;
  display: block;
}

.global-nav__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  .global-nav__item {
  flex: 0 0 10%;
  font-family: noto-sans, sans-serif; 
  font-weight: 200;
  font-style: normal;
  color: #272727;
  margin: 10px;
  opacity: 0.5;
  position: relative;
}
}

.global-nav__item {
  flex: 0 0 100%;
  line-height: 80px;
  font-size: 20px;
  color: #fff;
  border-bottom: solid 1px #fff;
  background-color: #918F89;
  text-align: center; 
  margin: 0;
  opacity: 0.9;
  font-family: noto-sans;  
  }

  .global-nav__items ul li:last-child {
    border-bottom: solid 10px #fff;
  }

  .global-nav__item:hover {
    opacity: 1;
  }
  .global-nav__item:hover::after {
    content: "";
    display: none;
  }

/* ハンバーガー終わり */


.container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: none;
  box-shadow: none;
}

.banner {
  margin: 0 auto;
  background-image: url("../img/sp-index.png");
  padding: 500px 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}

.banner p {
  color:#918F89;
  display: inline-block;
  font-family: noto-sans; 
  font-size: 50px;
  padding: 10px 0;
  background-color: rgba(255,255,255, 0.7);
  max-width: 50%;
  line-height: 2em;
  border-width: 10px;
}

.article1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 50px;
}

.article1-image {
  flex: 0 0 80%;
  padding: 0 10%;
}
.article1-right {
  flex: 0 0 100%;
  width: 100%;
  padding: 0 10%;
}

.article1-title {
  text-align: center;
  display: block;
  width: auto;
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3B3B3B;
  font-size: 20px;
  letter-spacing: 2.5px;
  margin-bottom: 40px;
}

.article1-paragraph {
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.36px;
  color: #3B3B3B;
  line-height: 2.5em;
}


.article2 {
  width: auto;
}
.article2-title {
  text-align: center;
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3B3B3B;
  font-size: 20px;
  letter-spacing: 2.5px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.article2-image {
  object-position: 100% 1%
}

.article3 {
}

.article3-title { 
  font-family: noto-sans;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  color: 3B3B3B;
  font-size: 25px;
  letter-spacing: 2.5px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.article3-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.article3-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  z-index: 10;
  }

.article3-image {
  flex: auto;
  display: block;
  text-align:center;
  position: relative;
  padding: 30px;
  z-index: 0;
}
.image {
  filter: brightness(0.4);

}

.article3-paragraph {
  text-align: center;
  font-family: noto-sans;
  font-weight: 400;
  font-style: normal;
  color: #3B3B3B;
  font-size: 15px;
  letter-spacing: 1.05px;  
}

.article4 {
  margin-top: 210px;
  margin-bottom: 200px;

}

.article4-title{
  font-family:noto-sans;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  color: #3B3B3B;
  font-size: 25px;
  letter-spacing: 2.5px;  
  margin-bottom: 40px;

}


.form {
}

.name ,.mail{
  display: block;
  width: 463px;
  height: 35px;
  padding: 8px;
  border: 0.5px solid #707070;
  border-radius: 11px;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.form-item__textarea {
  display: block;
  width: 463px;
  height: 156px;
  padding: 8px;
  border: 0.5px solid #707070;
  border-radius: 11px;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 111px;
  margin-top: 30px;
  background: #D1D1D1 0% 0% no-repeat padding-box;
  border-radius: 16px;
  height: 35px;
  font-size: 16px;
  font-color: #7D7D7D;
}


footer {
  background-color: #918F89;
  height: 284px;
  align-items: center;
}

.footer_logo {
  text-align: center;
  font-size: 22px;
  color: #FFFFFF;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 21px;
  padding-top: 80px;
}

.footer_items {
  display: none;
}

.footer_item {
  flex: 0 0 20%;
}
.footer-copyright p {
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: noto-sans, sans-serif;
  font-weight: 200;
  font-size: 10px;
  padding-top: 80px;

 }

  /* news */
.news-bg {
  background-image: url("../img/sp-news.png");
  width: 0 auto;
  padding: 500px 0;
  background-repeat: no-repeat;
  background-size:cover;	
}

.news-bg h1 {
  color: #918F89;
  font-family: noto-sans; 
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

.news-article1 {
}

.news-article1-title {
  display: none;

}

.news-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.news-image {
  filter: brightness(60%);
}

.news-image1 {
  flex: 0 0 80%;
  margin: 20px auto;
  position: relative;
}

.news-image1 p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  }

.news-image2 {
  flex: 0 0 80%;
  margin: 20px auto;
  position: relative;
}

.news-image2 p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  }

.news-image3 {
  flex: 0 0 80%;
  margin: 20px auto;
  position: relative;
}

.news-image3 p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  }

/* qa */
.qa-bg {
  background-image: url("../img/sp-qa.png");
  padding: 500px 0;
  background-repeat: no-repeat;
  background-size:cover;	
}

.qa-bg p {
  color: white;
  font-family: noto-sans;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

.qa-article1 {
  margin-bottom: 200px;
}

.qa-article1-title{
  text-align: center;
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3B3B3B;
  font-size: 25px;
  letter-spacing: 2.5px;
  margin: 70px 0;
}

.qa-items {
}

.qa-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10%;
  margin: 30px;
}

.question {
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-size: 16px;
  color: #3b3b3b;
  flex: 0 0 90%
}

.arrow {
  flex: 0 0 10%;
  cursor: pointer;
}

.qa-close {
  display: none;
}

.qa-open{
  padding: 20px;
  flex: 0 0 100%;
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-size: 14px;
  color: #3b3b3b;
  flex: 0 0 80%;
  text-align: left;
  display: inline-block;
}



}
/* ブレイクポイント終わり */